{% extends 'base.html.twig' %}

{% block title %}{{ 'site.login.title' | trans }}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="flash-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>{{ 'site.login.help' | trans }}</h1>
    <label for="inputEmail">{{ 'site.login.email' | trans }}</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">{{ 'site.login.password' | trans }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button type="submit">
        {{ 'site.login.action' | trans }}
    </button>
</form>
{% endblock %}
