{% extends 'base.html.twig' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block body %}
    <nav>
        <a href="{{ path("app_post_index") }}">Retour à la liste</a>
    </nav>
<h1>{{ post.title }}</h1>
<p>Écrit par {{ post.writtenBy.nickname }} le {{ post.publishedAt | date('d/m/Y à h:i:s') }} </p>
<div>
    {{ post.content | nl2br }}
</div>
    {{ render(controller('App\\Controller\\AuthorController::resume', {author: post.writtenBy})) }}
{% endblock %}
